<h1>hello rutul</h1>

<% @portfolio_item.each do |portfolio| %>
	<p><%= portfolio.title %></p>
	<p><%= portfolio.subtitle %></p>
	<p><%= portfolio.body %></p>
	<%= image_tag portfolio.thumb_image %>
<% end %>
