<h1>About Me</h1>
<p style="font-size: large;">I am full stack developer in Zadp Solution Pvt Ltd.I have good experiance in software development.I have created Leave Tracking Apllication in ruby on rails for our company.I have good experiance in Ruby on Rails, Bootstrap,HTML,CSS,JAVASCRIPT,Python.</p>

<p style="font-size: large;">I am learning new technology like python, machine learning,data sceince bla bla.I am good in reseraching new things.As per my knowledge i am always solving the real time problem maximum.   </p>
