<h1>Contact</h1>

<div class="row">
<div class="col-md-8 col-md-offset-2">
<h3>Phone Number</h3>
<p><%= number_to_phone "8140261878" %> </p>
<p><%= number_to_phone "8867986883" %> </p>

<h3>Email Id</h3>
<p><%= mail_to "shahrutul111@gmail.com" %> </p>
<p><%= mail_to "rutul@shopknekt.com" %> </p>

<h3>Address</h3>
<p>House No. 269 Nobel Residency,Near by Nandi woods,Bannergatta, Bangalore.
<p><%#= number_with_delimiter "178823424243" %> </p>
</div>
</div>