<div class="inner cover">
	<h1 class="cover-heading">Welcome To My Portfolio</h1>
	<p class="lead">"Success seems to be connected with action.Successfull people keep moving.They make mistakes, but they don't quit." - Rutul Shah </p>
	<p class="lead">
	<%= link_to "About Me", about_path,class: "btn btn-lg btn-secondary"%>
	</p>
</div>



